<form>
    <div class="mb-3">
        <label for="productName" class="form-label">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="productName" name="Nome">
    </div>
    <div class=" mb-3 ">
        <label for="productDescription " class="form-label ">Descrição</label>
        <textarea type="text " class="form-control " [(ngModel)]="productDescription" name="Descrição"></textarea>
    </div>
    <div class="row mb-3 ">
        <div class="col-md-6 ml-auto">
            <label for="price " class="form-label ">Preço</label>
            <input inputmode="numeric" oninput="this.value = this.value.replace(',', '.')" class="form-control " [(ngModel)]="price" name="Preço">
        </div>
        <div class="col-md-6 ml-auto">
            <label for="productDescription " class="form-label ">Estoque</label>
            <input type="number " class="form-control " [(ngModel)]="stock" name="Estoque">
        </div>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Imagem</label>
        <input type="file" class="form-control" [(ngModel)]="imageUrl" name="Imagem" (change)="handleUpload($event)">
    </div>
    <button (click)="addProduct() " *ngIf="this.product?.id==0" class="btn btn-primary">
    Adicionar
  </button>
    <button (click)="updateProduct() " *ngIf="this.product?.id!=0" class="btn btn-primary">
    Atualizar
  </button>
</form>